.reviews {
  max-width: 1040px;
  padding: 0 30px;
  margin: 0 auto;
}

.reviews__figure {
  display: inline-block;
  margin-bottom: 50px;
}

.reviews__figure:last-child {
  margin-bottom: 0;
}

.reviews__wrapper {
  width: 280px;
  float: left;
  margin-right: 20px;
}

.reviews__img {
  width: 280px;
  margin-bottom: 11px;
}

.reviews__text {
  line-height: 28px;
  text-align: center;
}

.reviews__blockquote {
  padding-top: 50px;
  line-height: 28px;
}